## 모의고사 2회

### (작업형1)

#### 1. 제공된 데이터(USArrests.csv)의 UrbanPop컬럼이 60이상인 지역 중 Murder컬럼과 Assault컬럼의 합 대비 Assault컬럼의 비율이 0.05이상인 레코드 수를 구하여라.

In [23]:
#### 모의고사 02회 01 Solution
import pandas as pd
exam1 = pd.read_csv('data/모의고사/02회/USArrests.csv')

##### Murder와 Assault의 합 대비 Assault의 비율에 대한 컬럼 생성
# Murder와 Assault의 합
exam1['MA'] = exam1['Murder'] + exam1['Assault']

# Murder와 Assault의 합 대비 Assault의 비율
exam1['ratio'] = exam1['Assault']/exam1['MA']

##### UrbanPop이 60이상이고 ratio가 0.05이상인 경우
cond = (exam1['UrbanPop'] >= 60) & (exam1['ratio'] >= 0.05)

##### 결과를 result에 할당
result = exam1[cond].shape[0]

##### 결과 출력
print(result)

33

---

#### 2. 제공된 데이터(swiss.csv)의 Fertility 컬럼에 대해서 내림차순으로 정렬한 후 정렬한 데이터를 기준으로 홀수번째 레코드들의 평균에서 짝수번째 레코드들의 평균을 뺀 값을 구하여라. (단, 첫번째 행에 있는 데이터를 1번으로 하고, 결과는 소수점 넷째 자리에서 반올림하여 표현)

In [24]:
#### 모의고사 02회 02 Solution
import pandas as pd
exam2 = pd.read_csv('data/모의고사/02회/swiss.csv')

##### Fertility 컬럼에 대해서 내림차순으로 정렬
sort = exam2['Fertility'].sort_values(ascending = False, ignore_index = True)

##### 데이터의 홀수번째와 짝수번째 행 번호 생성
import numpy as np
idx = np.arange(1,48)

# 홀수
odd = (idx % 2 == 1)

# 짝수
even = (idx % 2 == 0)

# 차이
diff = sort[odd].mean() - sort[even].mean()

##### 결과를 result에 할당
result = round(diff, 3)

##### 결과 출력
print(result)

-0.453

---

#### 3. 제공된 데이터(CO2.csv)의 Type 컬럼이 Mississippi이면서 conc 컬럼에서 백의 자리 또는 일의 자리가 5인 경우 레코드들의 수를 구하여라.

In [1]:
#### 모의고사 02회차 03 Solution
import pandas as pd
exam3 = pd.read_csv('data/모의고사/02회/CO2.csv')

##### case1. Type 컬럼이 Mississippi인 경우
# 'Mississi/ppi'와 'Mis/sissippi'이 섞여있음
# exam3['Type'].value_counts()

# '/'를 제거
exam3['Type'] = exam3['Type'].str.replace('/', '')

# Mississippi일 조건
case1 = (exam3['Type'] == 'Mississippi')

##### case2. conc 컬럼에서 백의 자리 또는 일의 자리가 5인 경우
# 백의 자리가 5인 경우
hundred = exam3['conc']//100  == 5

# 일의 자리가 5인 경우
one = exam3['conc'].astype('string').str.endswith('5')

# 두 조건을 만족하는 조건
case2 = hundred | one

##### 결과를 result에 할당
result = exam3[case1 & case2].shape[0]

##### 결과 출력
print(result)

24

---

### (작업형2)

### 1. 아래는 블랙프라이데이 제품 구매자들의 구매 정보에 관련한 데이터의 일부이다. 주어진 데이터를 이용하여 예측 모형을 만들고 아래에 따라 CSV 파일을 생성하시오.

In [26]:
#### 모의고사 01회차_작업형2 Solution

##### STEP1. 데이터셋+ 불러오기
import pandas as pd
X_train = pd.read_csv('data/모의고사/02회/BlackFriday_X_train.csv')
X_test = pd.read_csv('data/모의고사/02회/BlackFriday_X_test.csv')
y_train = pd.read_csv('data/모의고사/02회/BlackFriday_y_train.csv')

In [27]:
##### STEP2. 데이터셋 확인하기
###### STEP2-1. 데이터셋 일부 확인
print(X_train.head())
print(X_test.head())
print(y_train.head())

   User_ID Product_ID Gender    Age  Occupation City_Category  \
0  1001889  P00166642      M  18-25          14             B
1  1003320  P00030842      M  26-35           1             B
2  1003690   P0095742      M  18-25           0             B
3  1002796  P00227642      M  26-35          14             B
4  1001671  P00114542      M  36-45           0             B

  Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
0                          2               0                   8
1                          1               1                   1
2                          2               0                   4
3                          3               0                   1
4                          2               0                   5

   Product_Category_2  Product_Category_3
0                 NaN                 NaN
1                 2.0                15.0
2                 5.0                 NaN
3                 5.0                14.0
4                 NaN                 NaN
   User_ID Product_ID Gender    Age  Occupation City_Category  \
0  1004079  P00194042      M  36-45          17             B
1  1000936  P00320942      M  18-25           4             C
2  1000238  P00117242      F  51-55           7             B
3  1005250  P00354142      M  51-55           6             B
4  1005281  P00152742      M  26-35           2             A

  Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
0                          3               1                   8
1                         4+               0                   1
2                          0               0                   8
3                         4+               1                   6
4                          2               0                   5

   Product_Category_2  Product_Category_3
0                11.0                 NaN
1                 4.0                 9.0
2                17.0                 NaN
3                 8.0                 NaN
4                 NaN                 NaN
   User_ID  Purchase
0  1001889      7802
1  1003320     15412
2  1003690      1448
3  1002796      3927
4  1001671      7091

In [28]:
###### STEP2-2. 데이터셋 요약 정보 확인
print(X_train.info())
print(X_test.info())
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   User_ID                     3900 non-null   int64
 1   Product_ID                  3900 non-null   object
 2   Gender                      3900 non-null   object
 3   Age                         3900 non-null   object
 4   Occupation                  3900 non-null   int64
 5   City_Category               3900 non-null   object
 6   Stay_In_Current_City_Years  3900 non-null   object
 7   Marital_Status              3900 non-null   int64
 8   Product_Category_1          3900 non-null   int64
 9   Product_Category_2          2695 non-null   float64
 10  Product_Category_3          1213 non-null   float64
dtypes: float64(2), int64(4), object(5)
memory usage: 335.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2600 entries, 0 to 2599
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   User_ID                     2600 non-null   int64
 1   Product_ID                  2600 non-null   object
 2   Gender                      2600 non-null   object
 3   Age                         2600 non-null   object
 4   Occupation                  2600 non-null   int64
 5   City_Category               2600 non-null   object
 6   Stay_In_Current_City_Years  2600 non-null   object
 7   Marital_Status              2600 non-null   int64
 8   Product_Category_1          2600 non-null   int64
 9   Product_Category_2          1752 non-null   float64
 10  Product_Category_3          793 non-null    float64
dtypes: float64(2), int64(4), object(5)
memory usage: 223.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   User_ID   3900 non-null   int64
 1   Purchase  3900 non-null   int64
dtypes: int64(2)
memory usage: 61.1 KB
None

In [29]:
###### STEP2-3. 기초통계량 확인
print(X_train.describe())
print(X_test.describe())
print(y_train.describe())

            User_ID   Occupation  Marital_Status  Product_Category_1  \
count  3.900000e+03  3900.000000     3900.000000         3900.000000
mean   1.002986e+06     7.980513        0.420000            5.273846
std    1.711858e+03     6.562434        0.493622            3.710045
min    1.000002e+06     0.000000        0.000000            1.000000
25%    1.001501e+06     2.000000        0.000000            1.000000
50%    1.003046e+06     7.000000        0.000000            5.000000
75%    1.004386e+06    14.000000        1.000000            8.000000
max    1.006040e+06    20.000000        1.000000           18.000000

       Product_Category_2  Product_Category_3
count         2695.000000         1213.000000
mean             9.852319           12.663644
std              5.058134            4.057423
min              2.000000            3.000000
25%              5.000000            9.000000
50%              9.000000           14.000000
75%             15.000000           16.000000
max             18.000000           18.000000
            User_ID   Occupation  Marital_Status  Product_Category_1  \
count  2.600000e+03  2600.000000     2600.000000         2600.000000
mean   1.002952e+06     8.061154        0.403846            5.359231
std    1.718149e+03     6.525626        0.490762            3.769651
min    1.000001e+06     0.000000        0.000000            1.000000
25%    1.001406e+06     2.000000        0.000000            2.000000
50%    1.003012e+06     7.000000        0.000000            5.000000
75%    1.004385e+06    14.000000        1.000000            8.000000
max    1.006037e+06    20.000000        1.000000           18.000000

       Product_Category_2  Product_Category_3
count         1752.000000          793.000000
mean             9.748288           12.813367
std              5.080618            4.098900
min              2.000000            4.000000
25%              5.000000            9.000000
50%              9.000000           15.000000
75%             15.000000           16.000000
max             18.000000           18.000000
            User_ID      Purchase
count  3.900000e+03   3900.000000
mean   1.002986e+06   9394.564615
std    1.711858e+03   5039.666976
min    1.000002e+06    373.000000
25%    1.001501e+06   5841.750000
50%    1.003046e+06   8062.500000
75%    1.004386e+06  12162.750000
max    1.006040e+06  23942.000000

In [30]:
##### STEP3. 데이터셋 전처리
###### STEP3-1. 불필요한 컬럼 삭제

# Product_ID는 제품의 고유 ID로 불필요한 컬럼으로 삭제함
# 데이터들에서 Product_ID 컬럼 삭제
X_train = X_train.drop(columns ='Product_ID')
X_test = X_test.drop(columns = 'Product_ID')

In [31]:
###### STEP3-2. 결측치 처리
# 결측치 확인
X_train.isna().sum()

Gender                           0
Age                              0
Occupation                       0
City_Category                    0
Stay_In_Current_City_Years       0
Marital_Status                   0
Product_Category_1               0
Product_Category_2            1205
Product_Category_3            2687
dtype: int64

In [32]:
X_test.isna().sum()

Gender                           0
Age                              0
Occupation                       0
City_Category                    0
Stay_In_Current_City_Years       0
Marital_Status                   0
Product_Category_1               0
Product_Category_2             848
Product_Category_3            1807
dtype: int64

In [33]:
####### Product_Category_2 컬럼(train 1205, test 848 결측)
# train은 레코드의 31%, test는 레코드의 33%가 결측이고 Product_Category_1의 하위 카테고리
# 컬럼을 삭제
X_train = X_train.drop('Product_Category_2', axis = 1)
X_test = X_test.drop('Product_Category_2', axis = 1)

####### Product_Category_3 컬럼(train 2687, test 1807 결측)
# train은 레코드의 69%, test는 레코드의 70%가 결측이고 Product_Category_1, 2의 하위 카테고리
# 컬럼을 삭제
X_train = X_train.drop('Product_Category_3', axis = 1)
X_test = X_test.drop('Product_Category_3', axis = 1)

In [34]:
###### STEP3-3. 카테고리형 컬럼 전처리
# 문자열(object) 컬럼들의 유일값 수 확인
# 컬럼별 카테고리 확인 결과 큰 이상 없음
print(X_train.select_dtypes('object').nunique())
print(X_test.select_dtypes('object').nunique())

Gender                        2
Age                           7
City_Category                 3
Stay_In_Current_City_Years    5
dtype: int64
Gender                        2
Age                           7
City_Category                 3
Stay_In_Current_City_Years    5
dtype: int64

In [35]:
###### STEP3-4. 수치형 컬럼 전처리
print(X_train.select_dtypes(exclude ='object'))
print(X_test.select_dtypes(exclude ='object'))

####### Occupation, Marital_Status, Product_Category_1컬럼
# 수치형으로 인식되지만 카테고리의 의미를 가지는 컬럼
# dtype 변경 후 각각 OCC_gp, Marital_gp, PC_gp에 할당
X_train['OCC_gp'] = X_train['Occupation'].astype('object')
X_test['OCC_gp'] = X_test['Occupation'].astype('object')

X_train['Marital_gp'] = X_train['Marital_Status'].astype('object')
X_test['Marital_gp'] = X_test['Marital_Status'].astype('object')

X_train['PC_gp'] = X_train['Product_Category_1'].astype('object')
X_test['PC_gp'] = X_test['Product_Category_1'].astype('object')

# 기존 컬럼 삭제
X_train = X_train.drop(['Occupation', 'Marital_Status', 'Product_Category_1'], axis = 1)
X_test = X_test.drop(['Occupation', 'Marital_Status', 'Product_Category_1'], axis = 1)

      Occupation  Marital_Status  Product_Category_1
0             14               0                   8
1              1               1                   1
2              0               0                   4
3             14               0                   1
4              0               0                   5
...          ...             ...                 ...
3895           2               0                   1
3896           0               0                  11
3897           4               0                   8
3898          16               0                   1
3899          12               0                  16

[3900 rows x 3 columns]
      Occupation  Marital_Status  Product_Category_1
0             17               1                   8
1              4               0                   1
2              7               0                   8
3              6               1                   6
4              2               0                   5
...          ...             ...                 ...
2595           0               0                   5
2596          14               0                   1
2597           9               0                   8
2598           4               1                   6
2599          18               1                  11

[2600 rows x 3 columns]

In [36]:
###### STEP3-5. 데이터 분할
from sklearn.model_selection import train_test_split

# X_train과 y_train을 학습용(X_TRAIN, y_TRAIN)과 검증용(X_VAL, y_VAL)로 분할
X_TRAIN, X_VAL, y_TRAIN, y_VAL = train_test_split(X_train, y_train, random_state = 1234, test_size = 0.3)

# 분할 후 shape 확인
print(X_TRAIN.shape)
print(X_VAL.shape)
print(y_TRAIN.shape)
print(y_VAL.shape)

(2730, 7)
(1170, 7)
(2730, 1)
(1170, 1)

In [37]:
###### STEP3-6. 인코딩
# 카테고리형 컬럼에 대하여 원-핫 인코딩 수행
from sklearn.preprocessing import OneHotEncoder

# 인코딩할 카테고리형 컬럼만 별도 저장
X_TRAIN_category = X_TRAIN.select_dtypes('object').copy()
X_VAL_category = X_VAL.select_dtypes('object').copy()
X_TEST_category = X_test.select_dtypes('object').copy()

# 원-핫 인코딩
enc = OneHotEncoder(sparse = False).fit(X_TRAIN_category)

X_TRAIN_OH = enc.transform(X_TRAIN_category)
X_VAL_OH = enc.transform(X_VAL_category)
X_TEST_OH = enc.transform(X_TEST_category)

In [38]:
###### STEP3-7. 스케일링
# 스케일링할 컬럼 없음

In [39]:
###### STEP3-8. 입력 데이터셋 준비
import numpy as np

# 인코딩과 스케일링된 넘파이 배열 연결
X_TRAIN = X_TRAIN_OH
X_VAL = X_VAL_OH

# 1차원 넘파이배열로 평탄화
y_TRAIN = y_TRAIN.values.ravel()
y_VAL = y_VAL.values.ravel()

In [40]:
##### STEP4. 모델 학습
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor

###### STEP4-1. random forest
rf = RandomForestRegressor(n_estimators = 500,
                           max_depth = 3,
                           min_samples_leaf = 10,
                           max_features = 2,
                           random_state = 2022)

model_rf = rf.fit(X_TRAIN, y_TRAIN)

###### STEP4-2. XGBoost
xgb = XGBRegressor(max_depth = 8,
                   n_estimators = 500,
                   nthread = 5,
                   min_child_weight = 20,
                   gamma = 0.5,
                   objective = 'reg:squarederror',
                   use_label_encoder = False,
                   random_state = 2022)

model_xgb = xgb.fit(X_TRAIN, y_TRAIN)

###### STEP4-3. LightGBM
lgb = LGBMRegressor(max_depth = 8,
                    n_estimators = 500,
                    n_jobs = 30,
                    min_child_weight = 10,
                    learning_rate = 0.2,
                    objective = 'regression',
                    random_state = 2022)

model_lgb = lgb.fit(X_TRAIN, y_TRAIN)

In [41]:
###### STEP4-4. 성능평가(기준:MAE)를 통한 모델 선정
from sklearn.metrics import mean_absolute_error

# 검증용 데이터셋을 통한 예측
pred_rf = model_rf.predict(X_VAL)
pred_xgb = model_xgb.predict(X_VAL)
pred_lgb = model_lgb.predict(X_VAL)

# MAE 계산
mae_rf = mean_absolute_error(y_VAL, pred_rf)
print(mae_rf)

mae_xgb = mean_absolute_error(y_VAL, pred_xgb)
print(mae_xgb)

mae_lgb = mean_absolute_error(y_VAL, pred_lgb)
print(mae_lgb)

3890.5911682476026
2592.1730947021747
2523.4959648495173

In [42]:
##### STEP5. 결과 제출하기
###### 실제 시험에서 답 제출시에는 성능이 가장 우수한 모형 하나만 구현!
X_TEST = X_TEST_OH
y_pred = model_lgb.predict(X_TEST)

# 문제에서 요구하는 형태로 변환 필요
obj = {'User_ID' : User_ID,
       'Purchase' : y_pred}
result = pd.DataFrame(obj)

# 하위에 12345.csv 이름으로 저장하기
result.to_csv("12345.csv", index = False)

In [43]:
##### STEP6. 채점 모델 평가(번외)
# 실제값
actual = pd.read_csv('data/모의고사/02회/BlackFriday_y_test.csv', encoding = 'cp949')
actual = actual['Purchase'].ravel()

# 채점 기준이 될 성과지표 값
mean_absolute_error(actual, y_pred)

2556.0031980180756

---

### (작업형3)

#### 1. 제공된 데이터(survey_subset.csv)는 성별에 따른 A 제품의 인지도 조사를 위해 남, 녀 각각 500명을 임의로 추출하여 실시된 응답 현황 데이터이다. 성별에 따라 1번 문항에 대한 응답이 차이가 있는 지를 동질성 검정(Test of Homogeneity)를 통해 답하시오. 가설은 아래와 같다.

##### (a) : 성별과 1번문항의 교차 분석표를 생성하고 chi2_contingency() 함수를 통해 동질성 검정을 수행한 후, 남자가 “보통이다”라고 응답할 기대도수를 문제에서 요구하는 형태에 맞게 출력한다.

In [3]:
import pandas as pd
exam1 = pd.read_csv('data/모의고사/02회/survey.csv', encoding = 'cp949')

# 필요한 패키지, 함수 호출
from scipy.stats import chi2_contingency

# 카이제곱 검정 수행
tb = pd.crosstab(exam1['성별'], exam1['1번문항'])
stat, pval, df, expected = chi2_contingency(tb)

# (a) 보통이다 응답 기대도수
E13 = expected[0,2].astype('int')
print(E13)

87

##### (b)~(c) : 위에서 진행한 카이제곱 검정 결과를 통해 검정통계량과 p- 값을 각 문제에서 요구하는 형태에 맞게 출력한다. p-값이 0.0404이므로 본 가설 검정은 ‘기각’한다.

In [4]:
# (b) 검정통계량
stat = stat.astype('int')
print(stat)

# (c) p값/가설 검정 결과
pval = round(pval, 4)
print(pval)
print('기각')

10
0.0404
기각

#### 2. 주어진 데이터(Cars93.csv)를 통해 미국 본토 회사(Origin) 여부에 따라 평균 프리미엄 자동차 가격(Max_Price)이 더 큰 지 t검정을 통해 답하고자 한다. 여기서, 두 그룹의 모분산은 동일하지 않다고 알려져있다. 가설은 아래와 같다.

##### (a) : 미국 본토 회사의 프리미엄 자동차 가격과 미국 본토가 아닌 회사 프리미엄 자동차 가격을 각각 할당하고, 두 그룹의 표본 평균 차이를 mean()를 이용해 문제에서 요구하는 형태에 맞게 출력한다.

In [6]:
#### 모의고사 02회 작업형3 문제02 Solution
import pandas as pd
exam2 = pd.read_csv('data/모의고사/02회/Cars93.csv', encoding = 'cp949')

# 필요한 패키지, 함수 호출
from scipy.stats import ttest_ind

# 필요한 컬럼 각각 할당
Price = exam2['Max_Price']
Origin = exam2['Origin']

# 미국 본토 회사 프리미엄 자동차 가격
Price_USA = Price[Origin == 'USA'].reset_index(drop = True)

# 미국 본토가 아닌 회사 프리미엄 자동차 가격
Price_non = Price[Origin == 'non-USA'].reset_index(drop = True)

# (a) 미국 본토가 아닌 회사 프리미엄 자동차 가격의 표본 평균에서 미국 본토인 경우를 뺀 값
diff = Price_non.mean() - Price_USA.mean()
est = round(diff, 2)
print(est)

2.63

##### (b)~(c) : ttest_ind() 함수를 통해 독립표본 t검정을 수행하고 결과에서 제공하는 검정통계량을 이용하여 표준오차(=점추정량/검정통계량)(검정통계량 = 점추정량/표준오차임을 이용)를 구하고, 검정통계량 값을 문제에서 요구하는 형태에 맞게 출력한다. p - 값이 0.05보다 크기 때문에 본 가설 검정은 ‘채택’한다.

In [7]:
# 대응표본 t검정 수행
stat, pval = ttest_ind(Price_non, Price_USA, equal_var = False, alternative = 'less')

# (b) 검정통계량 = 점추정량/표준오차임을 이용
se = est/stat
se = round(se, 2)
print(se)

# (c) 검정통계량/기각 여부
stat = round(stat, 4)
print(stat)
print('채택')

2.32
1.1335
채택

# (끝)