# 제 1유형

In [66]:
import pandas as pd

df = pd.read_csv('economics.csv', encoding='euc_kr')

# print(df)
# df.info() # 결측치 없음
# print(df['데이터수집월'].value_counts())

df['데이터수집년'] = df['데이터수집월'].apply(lambda x : x.replace(' ', '').split('-')[0])

group = df[['데이터수집년', '실업자수_천명']].groupby('데이터수집년').mean()
# print(group.sort_values('실업자수_천명', ascending=False)) # 2010년

df2010 = df[df['데이터수집년'] == '2010'].copy()
df2010['실업자수_만명'] = df2010['실업자수_천명'].apply(lambda x : x*0.1)
print(round(df2010['실업자수_만명'].var(), 2))

1111.35

                실업자수_천명
데이터수집년
2     005   7406.000000
20   05     7784.000000
200  1      7042.000000
2000        5685.083333
2001        6810.363636
2002        8375.333333
2003        8770.333333
2004        8139.666667
2005        7576.000000
2006        6991.250000
2007        7073.083333
2008        8948.166667
2009       14294.500000
2010       14807.750000
2011       13738.500000
2012       12499.166667
2013       11457.166667
2014        9601.500000