## (작업형2) 연습문제

#### 1. 아래는 가상 온라인 축구게임(FIFA)에 등장하는 축구 선수의 주요 특징과 신체 정보에 대한 데이터의 일부이다. 주어진 데이터를 이용하여 예측 모형을 만들고 아래에 따라 CSV 파일을 생성하시오.

In [3]:
#### 연습문제1 Solution
##### STEP1. 데이터셋 불러오기
import pandas as pd
X_train = pd.read_csv('data/연습문제/FIFA_X_train.csv', encoding = 'cp949')
X_test = pd.read_csv('data/연습문제/FIFA_X_test.csv', encoding = 'cp949')
y_train = pd.read_csv('data/연습문제/FIFA_y_train.csv', encoding = 'cp949')

In [4]:
##### STEP2. 데이터셋 확인하기
###### STEP2-1. 데이터셋 일부 확인
X_train.head()
print(X_test.head())
print(y_train.head())

       ID Age     Nationality  Overall                Club Preferred_Foot  \
0  137351  34         Germany       79         FC Augsburg          Right
1  207707  29          Brazil       77  Olympique Lyonnais           Left
2  242101  22  Korea Republic       64     Pohang Steelers          Right
3  200104  25  Korea Republic       84   Tottenham Hotspur          Right
4  244229  2*           Italy       66          Cittadella          Right

        Work_Rate Position Position_Class  Jersey_Number  \
0    Medium/ High      CDM       Defender             10
1  Medium/ Medium       LB       Defender             20
2    High/ Medium       RW        Forward             18
3      High/ High       LM     Midfielder              7
4  Medium/ Medium       CB       Defender             15

   Contract_Valid_Until Height  Height_cm  Weight_lb  Release_Clause  Wage
0                  2019    5'9      172.5        172            6500    28
1                  2021   5'10      175.0        163           12400    54
2                  2021    6'1      182.5        170            1000     2
3                  2023    6'0      180.0        143           71200   125
4                  2020    6'2        NaN        170            1400     1
       ID  Value
0  190972  18500
1  179646    500
2  225440   1200
3  212642    325
4  245804    220

In [5]:
###### STEP2-2. 데이터셋 요약 정보 확인
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3600 entries, 0 to 3599
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    3600 non-null   int64
 1   Age                   3600 non-null   object
 2   Nationality           3600 non-null   object
 3   Overall               3600 non-null   int64
 4   Club                  3600 non-null   object
 5   Preferred_Foot        3600 non-null   object
 6   Work_Rate             3600 non-null   object
 7   Position              3600 non-null   object
 8   Position_Class        2842 non-null   object
 9   Jersey_Number         3600 non-null   int64
 10  Contract_Valid_Until  3600 non-null   int64
 11  Height                3600 non-null   object
 12  Height_cm             3308 non-null   float64
 13  Weight_lb             3528 non-null   float64
 14  Release_Clause        3600 non-null   int64
 15  Wage                  3600 non-null   int64
dtypes: float64(2), int64(6), object(8)
memory usage: 450.1+ KB
None

In [6]:
###### STEP2-3. 기초통계량 확인
# 수치형 컬럼들의 기초통계 확인
print(X_train.describe())
print(X_test.describe())
print(y_train.describe())

                  ID      Overall  Jersey_Number  Contract_Valid_Until  \
count    3600.000000  3600.000000    3600.000000           3600.000000
mean   214137.233611    66.112500      19.623333           2020.267500
std     29536.484864     6.903121      15.665325              1.314569
min      2147.000000    46.000000       1.000000           2018.000000
25%    199536.500000    62.000000       8.000000           2019.000000
50%    221322.500000    66.000000      17.000000           2020.000000
75%    236814.000000    71.000000      26.000000           2021.000000
max    246606.000000    89.000000      99.000000           2026.000000

         Height_cm    Weight_lb  Release_Clause         Wage
count  3308.000000  3528.000000     3600.000000  3600.000000
mean    178.276149   166.061508     4414.664722     9.325000
std       6.514353    15.590009     9993.717205    19.607412
min     155.000000   115.000000       13.000000     1.000000
25%     172.500000   154.000000      536.000000     1.000000
50%     177.500000   165.000000     1200.000000     3.000000
75%     182.500000   176.000000     3600.000000     9.000000
max     202.500000   229.000000   165800.000000   250.000000
                  ID      Overall  Jersey_Number  Contract_Valid_Until  \
count    2400.000000  2400.000000    2400.000000           2400.000000
mean   213967.265417    66.200000      19.720000           2020.251667
std     31874.993242     7.053302      16.201985              1.287383
min        16.000000    47.000000       1.000000           2018.000000
25%    200245.500000    62.000000       8.750000           2019.000000
50%    222183.000000    66.000000      17.000000           2020.000000
75%    237457.750000    71.000000      26.000000           2021.000000
max    246617.000000    92.000000      99.000000           2025.000000

         Height_cm    Weight_lb  Release_Clause         Wage
count  2212.000000  2400.000000     2400.000000  2400.000000
mean    178.297920   165.845417     4796.633750    10.177500
std       6.638623    15.311598    12610.117139    25.544364
min     157.500000   121.000000       15.000000     1.000000
25%     172.500000   154.000000      521.500000     1.000000
50%     177.500000   165.000000     1100.000000     3.000000
75%     182.500000   176.000000     3400.000000     9.000000
max     200.000000   220.000000   228100.000000   455.000000
                  ID         Value
count    3600.000000   3600.000000
mean   214137.233611   2348.593056
std     29536.484864   5120.938813
min      2147.000000     10.000000
25%    199536.500000    325.000000
50%    221322.500000    675.000000
75%    236814.000000   2100.000000
max    246606.000000  78000.000000

In [7]:
##### STEP3. 데이터셋 전처리
###### STEP3-1. 불필요한 컬럼 삭제
# ID 컬럼은 선수에 대한 고유 정보로 key 역할로 모델에는 불필요함
# 결과 제출 시에는 X_test의 ID 컬럼이 필요하기 때문에 별도 저장
ID = X_test['ID'].copy()

# 데이터들에서 ID 컬럼 삭제
X_train = X_train.drop(columns = 'ID')
X_test = X_test.drop(columns = 'ID')
y_train = y_train.drop(columns = 'ID')

In [10]:
##### STEP3-2. 결측치 처리
# 결측치 확인
X_train.isna().sum()

Age                       0
Nationality               0
Overall                   0
Club                      0
Preferred_Foot            0
Work_Rate                 0
Position                  0
Position_Class          758
Jersey_Number             0
Contract_Valid_Until      0
Height                    0
Height_cm               292
Weight_lb                72
Release_Clause            0
Wage                      0
dtype: int64

In [11]:
X_test.isna().sum()

Age                       0
Nationality               0
Overall                   0
Club                      0
Preferred_Foot            0
Work_Rate                 0
Position                  0
Position_Class          509
Jersey_Number             0
Contract_Valid_Until      0
Height                    0
Height_cm               188
Weight_lb                 0
Release_Clause            0
Wage                      0
dtype: int64

In [12]:
####### Position_Class 컬럼
# 선수 포지션을 의미하는 Position의 카테고리를 통합하는 과정에서 누락되었을 것
# 기존의 Position를 활용해 결측치를 대체
X_train['Position_Class'].value_counts() # 누락된 범주는 카운트되지 않음

Defender      1400
Midfielder     790
Forward        652
Name: Position_Class, dtype: int64

In [13]:
X_train['Position_Class'] = X_train['Position_Class'].fillna('unknown') # unknown으로 대체
X_train['Position_Class'].value_counts() # 확인

Defender      1400
Midfielder     790
unknown        758
Forward        652
Name: Position_Class, dtype: int64

In [14]:
# pandas.crosstab(index, colums)는 교차표를 생성하는 판다스 함수
# Postion 내 'CM', 'GK', 'LF', 'RDM', 'RWB'가 어느 Position_Class에도 속하지 않음
pd.crosstab(index = X_train['Position'], columns = X_train['Position_Class'])

Position_Class  Defender  Forward  Midfielder  unknown
Position
CAM                    0        0         212        0
CB                   349        0           0        0
CDM                  178        0           0        0
CF                     0       12           0        0
CM                     0        0           0      295
GK                     0        0           0      391
LAM                    0        0           4        0
LB                   283        0           0        0
LCB                  136        0           0        0
LCM                    0        0          86        0
LDM                   48        0           0        0
LF                     0        0           0        3
LM                     0        0         208        0
LS                     0       42           0        0
LW                     0       71           0        0
LWB                   24        0           0        0
RAM                    0        0           5        0
RB                   263        0           0        0
RCB                  119        0           0        0
RCM                    0        0          65        0
RDM                    0        0           0       44
RF                     0        4           0        0
RM                     0        0         210        0
RS                     0       36           0        0
RW                     0       62           0        0
RWB                    0        0           0       25
ST                     0      425           0        0

In [15]:
# X_train에 대해 누락된 카테고리 채우기
PC_train = X_train['Position_Class'].copy()
PC_train[X_train['Position'] == 'LF'] = 'Forward'
PC_train[X_train['Position'] == 'CM'] = 'Midfielder'
PC_train[X_train['Position'] == 'RDM'] = 'Defender'
PC_train[X_train['Position'] == 'RWB'] = 'Defender'
PC_train[X_train['Position'] == 'GK'] = 'GoalKeeper'
X_train['Position_Class'] = PC_train

# X_test에 대해 누락된 카테고리 채우기
PC_test = X_test['Position_Class'].copy()
PC_test[X_test['Position'] == 'LF'] = 'Forward'
PC_test[X_test['Position'] == 'CM'] = 'Midfielder'
PC_test[X_test['Position'] == 'RDM'] = 'Defender'
PC_test[X_test['Position'] == 'RWB'] = 'Defender'
PC_test[X_test['Position'] == 'GK'] = 'GoalKeeper'
X_test['Position_Class'] = PC_test

# 재확인
pd.crosstab(index = X_train['Position'], columns = X_train['Position_Class'])

Position_Class  Defender  Forward  GoalKeeper  Midfielder
Position
CAM                    0        0           0         212
CB                   349        0           0           0
CDM                  178        0           0           0
CF                     0       12           0           0
CM                     0        0           0         295
GK                     0        0         391           0
LAM                    0        0           0           4
LB                   283        0           0           0
LCB                  136        0           0           0
LCM                    0        0           0          86
LDM                   48        0           0           0
LF                     0        3           0           0
LM                     0        0           0         208
LS                     0       42           0           0
LW                     0       71           0           0
LWB                   24        0           0           0
RAM                    0        0           0           5
RB                   263        0           0           0
RCB                  119        0           0           0
RCM                    0        0           0          65
RDM                   44        0           0           0
RF                     0        4           0           0
RM                     0        0           0         210
RS                     0       36           0           0
RW                     0       62           0           0
RWB                   25        0           0           0
ST                     0      425           0           0

In [18]:
# 반복문으로 하는 방법
lbl_pos = ['LF', 'CM', 'RDM', 'RWB', 'GK']
lbl_PC = ['Forward', 'Midfielder', 'Defender', 'Defender', 'GoalKeeper']
for r, s in zip(lbl_pos, lbl_PC): 
    PC_train[X_train['Position'] == r] = s 
    PC_test[X_test['Position'] == r] = s

# 완료 후 Position 컬럼을 삭제
X_train = X_train.drop(columns = 'Position')
X_test = X_test.drop(columns = 'Position')

In [19]:
####### Height_cm 컬럼
# 단위가 인치와 피트인 문자열 Height를 단위 변환하는 과정에서 누락되었을 것
# 기존의 Height를 활용해 결측치를 대체
# X_train에 대해 누락된 값 채우기
Height_train = X_train['Height'].copy()
Height_cm_train = X_train['Height_cm'].copy()

# '를 기준으로 앞은 피트 * 30, 뒤는 인치 * 2.5한 후 합
# '를 기준으로 문자열을 분리한 후, expand = True를 통해 다른 열에 할당함
# 잘린 문자열은 수치형이랑 곱할 수 없으므로 astype() 메소드를 통해
# 각 열(시리즈)들의 dtype을 float64로 저장되도록 함
split_str_train = Height_train.str.split("'", expand = True).astype('float64')

# 결측치 대체
Height_cm_train = Height_cm_train.fillna(split_str_train[0] * 30 + split_str_train[1] * 2.5)
X_train['Height_cm'] = Height_cm_train

# X_test에 대해 누락된 값 채우기
Height_test = X_test['Height'].copy()
Height_cm_test = X_test['Height_cm'].copy()

# '를 기준으로 앞은 피트 * 30, 뒤는 인치 * 2.5한 후 합
# '를 기준으로 문자열을 분리한 후, expand = True를 통해 다른 열에 할당함
# 잘린 문자열은 수치형이랑 곱할 수 없으므로 astype() 메소드를 통해
# 각 열(시리즈)들의 dtype을 float64로 저장되도록 함
split_str_test = Height_test.str.split("'", expand = True).astype('float64')

# 결측치 대체
Height_cm_test = Height_cm_test.fillna(split_str_test[0] * 30 + split_str_test[1] * 2.5)
X_test['Height_cm'] = Height_cm_test

# 완료 후 Height 컬럼을 삭제
X_train = X_train.drop(columns = 'Height')
X_test = X_test.drop(columns = 'Height')

In [20]:
####### Weight_lb 컬럼
# Weight_lb는 파운드 단위인 선수의 몸무게로 train에만 2% 결측이므로 행 삭제
# test에도 결측이 있을 경우, 시험에서는 삭제하면 안 되고 평균대치법과 같은 방법으로 대치해야함
# Weight_lb가 결측인 조건
cond_na = X_train['Weight_lb'].isna()

# y_train에 대해 X_train에 누락된 Weight_lb가 있는 행을 삭제함
y_train = y_train[~ cond_na]

# X_train에 대해 X_train에 누락된 Weight_lb가 있는 행을 삭제함
X_train = X_train[~ cond_na]

# 레코드 삭제후 행/열 길이 확인
print(y_train.shape, X_train.shape)

(3528, 1) (3528, 13)

In [21]:
###### STEP3-3. 카테고리형 컬럼 전처리
# 문자열(object) 컬럼들의 유일값 수 확인
print(X_train.select_dtypes('object').nunique())

Age                29
Nationality       129
Club              648
Preferred_Foot      2
Work_Rate           9
Position_Class      4
dtype: int64

In [22]:
print(X_test.select_dtypes('object').nunique())

Age                31
Nationality       116
Club              634
Preferred_Foot      2
Work_Rate           9
Position_Class      4
dtype: int64

In [23]:
####### Age컬럼
# 일부 선수의 나이가 일의 자리가 마스킹 되어있음
# Age_gp(연령대)인 카테고리형 파생변수 생성
X_train['Age_gp'] = X_train['Age'].str[0]
X_test['Age_gp'] = X_test['Age'].str[0]

# 완료 후 Age 컬럼을 삭제
X_train = X_train.drop('Age', axis = 1)
X_test = X_test.drop('Age', axis = 1)

In [24]:
####### Club컬럼
# 현재 소속된 클럽으로, 예측에 불필요할 것으로 가정하고 컬럼을 삭제
X_train = X_train.drop(columns = 'Club')
X_test = X_test.drop(columns = 'Club')

In [28]:
####### Preferred_Foot컬럼
# 선수가 주로 사용하는 발
print(X_train['Preferred_Foot'].value_counts())

Right    2682
Left      846
Name: Preferred_Foot, dtype: int64

In [29]:
print(X_test['Preferred_Foot'].value_counts())

Right    1854
Left      546
Name: Preferred_Foot, dtype: int64

In [30]:
####### Work_Rate컬럼
# 공격 운동량/ 방어 운동량
# '/'를 기준으로 앞은 공격 운동량(WR_Attack), 뒤는 방어 운동량(WR_Defend) 컬럼으로 생성
# '/' 뒤에 공백하나가 있음으로 이에 대한 제거가 필요
# 그 이후 '/'를 기준으로 문자열을 분리한 후, expand = True를 통해 다른 열에 할당
# train
Work_Rate_train = X_train['Work_Rate'].copy()
Work_Rate_train = Work_Rate_train.str.replace(' ','') # 공백 제거

# '/'를 기준으로 문자열을 분리하여 파생변수 WR_Attack, WR_Defend 생성
X_train['WR_Attack'] = Work_Rate_train.str.split("/", expand = True)[0]
X_train['WR_Defend'] = Work_Rate_train.str.split("/", expand = True)[1]

# test
Work_Rate_test = X_test['Work_Rate'].copy()
Work_Rate_train = Work_Rate_train.str.replace(' ','') # 공백 제거

# '/'를 기준으로 문자열을 분리하여 파생변수 WR_Attack, WR_Defend 생성
X_test['WR_Attack'] = Work_Rate_test.str.split("/", expand = True)[0]
X_test['WR_Defend'] = Work_Rate_test.str.split("/", expand = True)[1]

# 완료 후 Work_Rate 컬럼을 삭제
X_train = X_train.drop(columns = 'Work_Rate')
X_test = X_test.drop(columns = 'Work_Rate')

In [31]:
###### STEP3-4. 수치형 컬럼 전처리
####### Jersey_Number컬럼
# Jersey_Number는 선수의 등번호로 불필요한 컬럼으로 가정하고 삭제
# cf) 실제로 이 컬럼은 카테고리의 의미를 가짐을 주의해야함
X_train = X_train.drop('Jersey_Number', axis = 1)
X_test = X_test.drop('Jersey_Number', axis = 1)

In [32]:
####### Contract_Valid_Until컬럼
# 계약 만료년도로 카테고리의 의미를 가짐
# 유일값 확인 결과, 2019~2026의 레이블을 가지고
# X_test에는 2026년은 없음
print(X_train['Contract_Valid_Until'].sort_values().unique())
print(X_test['Contract_Valid_Until'].sort_values().unique())

# CVU_gp컬럼으로 따로 저장
X_train['CVU_gp'] = X_train['Contract_Valid_Until'].astype('object') # dtype변환
X_test['CVU_gp'] = X_test['Contract_Valid_Until'].astype('object') # dtype변환

# 완료 후 Contract_Valid_Until 컬럼을 삭제
X_train = X_train.drop('Contract_Valid_Until', axis = 1)
X_test = X_test.drop('Contract_Valid_Until', axis = 1)

[2018 2019 2020 2021 2022 2023 2024 2025 2026]
[2018 2019 2020 2021 2022 2023 2024 2025]

In [33]:
####### 수치형 컬럼 간 상관관계 확인
# 상관관계를 확인할 컬럼만
colnm_conti = ['Overall', 'Height_cm', 'Weight_lb', 'Release_Clause', 'Wage']
X_train[colnm_conti].corr()

# Release_Clause 컬럼을 제외
X_train = X_train.drop('Release_Clause', axis = 1)
X_test = X_test.drop('Release_Clause', axis = 1)

In [34]:
###### STEP3-5. 데이터 분할
from sklearn.model_selection import train_test_split

# X_train과 y_train을 학습용(X_TRAIN, y_TRAIN)과 검증용(X_VAL, y_VAL)로 분할
X_TRAIN, X_VAL, y_TRAIN, y_VAL = train_test_split(X_train, y_train, random_state =1234, test_size = 0.3)

# 분할 후 shape 확인
print(X_TRAIN.shape)
print(X_VAL.shape)
print(y_TRAIN.shape)
print(y_VAL.shape)

(2469, 11)
(1059, 11)
(2469, 1)
(1059, 1)

In [35]:
###### STEP3-6. 인코딩
# 카테고리형 컬럼에 대하여 원-핫 인코딩 수행
from sklearn.preprocessing import OneHotEncoder

# 인코딩할 카테고리형 컬럼만 별도 저장
X_TRAIN_category = X_TRAIN.select_dtypes('object').copy()
X_VAL_category = X_VAL.select_dtypes('object').copy()
X_TEST_category = X_test.select_dtypes('object').copy()

# Nationality의 유일 값 수가 데이터셋마다 다름
# handle_unknown = 'ignore'은 Train에 없는 레이블이 Test에 있더라도 이들을 모두 0이됨
enc = OneHotEncoder(handle_unknown = 'ignore', sparse = False).fit(X_TRAIN_category)

# 원-핫 인코딩
X_TRAIN_OH = enc.transform(X_TRAIN_category)
X_VAL_OH = enc.transform(X_VAL_category)
X_TEST_OH = enc.transform(X_TEST_category)

In [36]:
###### STEP3-7. 스케일링
from sklearn.preprocessing import StandardScaler

# 스케일링할 컬럼만 별도 저장
colnm_conti = ['Overall', 'Height_cm', 'Weight_lb', 'Wage']
X_TRAIN_conti = X_TRAIN[colnm_conti].copy()
X_VAL_conti = X_VAL[colnm_conti].copy()
X_TEST_conti = X_test[colnm_conti].copy()

# TRAIN 데이터 기준으로 스케일링함
scale = StandardScaler().fit(X_TRAIN_conti)

# z-점수 표준화
X_TRAIN_STD = scale.transform(X_TRAIN_conti)
X_VAL_STD = scale.transform(X_VAL_conti)
X_TEST_STD = scale.transform(X_TEST_conti)

In [37]:
###### STEP3-8. 입력 데이터셋 준비
import numpy as np

# 인코딩과 스케일링된 넘파이 ndarray 연결
X_TRAIN = np.concatenate([X_TRAIN_OH, X_TRAIN_STD], axis = 1)
X_VAL = np.concatenate([X_VAL_OH, X_VAL_STD], axis = 1)

# 1차원 넘파이 ndarray로 평탄화
y_TRAIN = y_TRAIN.values.ravel()
y_VAL = y_VAL.values.ravel()

In [38]:
##### STEP4. 모델 학습
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, BaggingRegressor, AdaBoostRegressor

###### STEP4-1. random forest
rf = RandomForestRegressor(n_estimators = 500, max_depth = 3, min_samples_leaf = 10, max_features = 50, random_state = 2022)
model_rf = rf.fit(X_TRAIN, y_TRAIN)

In [39]:
###### STEP4-2. Bagging
dtr = DecisionTreeRegressor(max_depth = 3, min_samples_leaf = 10)
bag = BaggingRegressor(base_estimator = dtr, n_estimators = 500, random_state = 2022)
model_bag = bag.fit(X_TRAIN, y_TRAIN)

In [40]:
###### STEP4-3. AdaBoost
dtr = DecisionTreeRegressor(max_depth = 3, min_samples_leaf = 10)
ada = AdaBoostRegressor(base_estimator = dtr, n_estimators = 500, learning_rate = 0.5, random_state = 2022)
model_ada = ada.fit(X_TRAIN, y_TRAIN)

In [41]:
###### STEP4-4. 성능평가(기준:RMSE)를 통한 모델 선정
from sklearn.metrics import mean_squared_error

# 검증용 데이터셋을 통한 예측
pred_rf = model_rf.predict(X_VAL)
pred_bag = model_bag.predict(X_VAL)
pred_ada = model_ada.predict(X_VAL)

# RMSE 계산
rmse_rf = mean_squared_error(y_VAL, pred_rf, squared = False)
print(rmse_rf)
rmse_bag = mean_squared_error(y_VAL, pred_bag, squared = False)
print(rmse_bag)
rmse_ada = mean_squared_error(y_VAL, pred_ada, squared = False)
print(rmse_ada)

1846.2123354846974
1502.89475016663
2396.352145550122

In [42]:
##### STEP5. 결과 제출하기
###### 실제 시험에서 답 제출시에는 성능이 가장 우수한 모형 하나만 구현!
X_TEST = np.concatenate([X_TEST_OH, X_TEST_STD], axis = 1)
y_pred = model_bag.predict(X_TEST)

# 문제에서 요구하는 형태로 변환 필요
obj = {'ID' : ID, 'Purchase' : y_pred}
result = pd.DataFrame(obj)

# 하위에 12345.csv 이름으로 저장하기
result.to_csv("12345.csv", index = False)

In [43]:
##### STEP6. 채점 모델 평가(번외)
# 실제값
actual = pd.read_csv('data/연습문제/FIFA_y_test.csv', encoding = 'cp949')
actual = actual['Value'].ravel()

# 채점 기준이 될 성과지표 값
mean_squared_error(actual, y_pred, squared = False)

2655.5156402866014

---

#### 2. 아래는 1995년 US News and World Report에 따른 미국 대학별 사립 여부와 주요 속성 데이터의 일부이다. 주어진 데이터를 이용하여 예측 모형을 만들고 아래에 따라 CSV 파일을 생성하시오.

In [1]:
#### 연습문제2 Solution
##### STEP1. 데이터셋 불러오기
import pandas as pd
X_train = pd.read_csv('data/연습문제/College_X_train.csv', encoding = 'cp949')
X_test = pd.read_csv('data/연습문제/College_X_test.csv', encoding = 'cp949')
y_train = pd.read_csv('data/연습문제/College_y_train.csv', encoding = 'cp949')

In [2]:
##### STEP2. 데이터셋 확인하기
###### STEP2-1. 데이터셋 일부 확인
X_train.head()
print(X_test.head())
print(y_train.head())

    ID                                           Name  Apps  Accept  Enroll  \
0   62                 Bowling Green State University  9251    7333    3076
1   79                California Polytechnic-San Luis  7811    3817    1650
2   80          California State University at Fresno  4540    3294    1483
3  120  Clinch Valley Coll. of  the Univ. of Virginia   689     561     250
4  162                         Delta State University   967     945     459

   Top10perc  Top25perc  F.Undergrad  P.Undergrad  Outstate  Room.Board  \
0         14         45        13699         1213      7452        3352
1         47         73        12911         1404      7380        4877
2          5         60        13494         1254      7706        4368
3         15         30         1125          422      7168        3689
4         15         48         2806          538      4528        1880

   Books  Personal  PhD  Terminal  S.F.Ratio  perc.alumni  Expend  Grad.Rate
0    600      1700   81        89       21.1           14    6918         67
1    612      2091   72        81       19.8           13    8453         59
2    600      1926   90        90       21.2            8    7268         61
3    600      1900   67        67       18.1            9    4417         46
4    500      1200   49        63       17.1           16    5113         58
    ID Private
0  681      No
1  746      No
2  341      No
3  413      No
4  707      No

In [3]:
###### STEP2-2. 데이터셋 요약 정보 확인
print(X_train.info())
print(X_test.info())
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 621 entries, 0 to 620
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           621 non-null    int64
 1   Name         621 non-null    object
 2   Apps         621 non-null    int64
 3   Accept       621 non-null    int64
 4   Enroll       621 non-null    int64
 5   Top10perc    621 non-null    int64
 6   Top25perc    621 non-null    int64
 7   F.Undergrad  621 non-null    int64
 8   P.Undergrad  621 non-null    int64
 9   Outstate     621 non-null    int64
 10  Room.Board   621 non-null    int64
 11  Books        621 non-null    int64
 12  Personal     621 non-null    int64
 13  PhD          621 non-null    int64
 14  Terminal     621 non-null    int64
 15  S.F.Ratio    621 non-null    float64
 16  perc.alumni  621 non-null    int64
 17  Expend       621 non-null    int64
 18  Grad.Rate    621 non-null    int64
dtypes: float64(1), int64(17), object(1)
memory usage: 92.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           156 non-null    int64
 1   Name         156 non-null    object
 2   Apps         156 non-null    int64
 3   Accept       156 non-null    int64
 4   Enroll       156 non-null    int64
 5   Top10perc    156 non-null    int64
 6   Top25perc    156 non-null    int64
 7   F.Undergrad  156 non-null    int64
 8   P.Undergrad  156 non-null    int64
 9   Outstate     156 non-null    int64
 10  Room.Board   156 non-null    int64
 11  Books        156 non-null    int64
 12  Personal     156 non-null    int64
 13  PhD          156 non-null    int64
 14  Terminal     156 non-null    int64
 15  S.F.Ratio    156 non-null    float64
 16  perc.alumni  156 non-null    int64
 17  Expend       156 non-null    int64
 18  Grad.Rate    156 non-null    int64
dtypes: float64(1), int64(17), object(1)
memory usage: 23.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 621 entries, 0 to 620
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       621 non-null    int64
 1   Private  621 non-null    object
dtypes: int64(1), object(1)
memory usage: 9.8+ KB
None

In [4]:
###### STEP2-3. 기초통계량 확인
# 수치형 컬럼들의 기초통계 확인
print(X_train.describe())
print(X_test.describe())

               ID          Apps        Accept       Enroll   Top10perc  \
count  621.000000    621.000000    621.000000   621.000000  621.000000
mean   390.267311   3129.035427   2100.785829   795.711755   27.677939
std    227.708549   4135.993728   2623.892834   965.700245   17.692517
min      1.000000     81.000000     72.000000    35.000000    1.000000
25%    192.000000    776.000000    588.000000   235.000000   15.000000
50%    391.000000   1576.000000   1110.000000   438.000000   23.000000
75%    588.000000   3646.000000   2466.000000   938.000000   36.000000
max    777.000000  48094.000000  26330.000000  6392.000000   96.000000

        Top25perc   F.Undergrad   P.Undergrad      Outstate   Room.Board  \
count  621.000000    621.000000    621.000000    621.000000   621.000000
mean    55.927536   3764.043478    837.165862  10550.220612  4368.576490
std     19.911649   5016.570226   1323.563395   4026.781276  1098.749612
min     12.000000    139.000000      1.000000   2580.000000  2146.000000
25%     40.000000    971.000000    102.000000   7470.000000  3600.000000
50%     54.000000   1715.000000    355.000000  10178.000000  4191.000000
75%     69.000000   4190.000000    946.000000  12950.000000  5062.000000
max    100.000000  31643.000000  10962.000000  21700.000000  8124.000000

             Books     Personal         PhD    Terminal   S.F.Ratio  \
count   621.000000   621.000000  621.000000  621.000000  621.000000
mean    543.945250  1342.376812   72.816425   79.819646   14.058293
std     157.445199   683.521727   16.222698   14.831734    4.009487
min      96.000000   250.000000   10.000000   24.000000    2.500000
25%     450.000000   875.000000   62.000000   71.000000   11.400000
50%     500.000000  1200.000000   75.000000   83.000000   13.600000
75%     600.000000  1700.000000   86.000000   92.000000   16.500000
max    2000.000000  6800.000000  103.000000  100.000000   39.800000

       perc.alumni        Expend   Grad.Rate
count   621.000000    621.000000  621.000000
mean     23.003221   9720.768116   65.819646
std      12.505095   5449.768029   17.212233
min       0.000000   3186.000000   10.000000
25%      13.000000   6791.000000   53.000000
50%      21.000000   8377.000000   66.000000
75%      31.000000  10864.000000   78.000000
max      64.000000  56233.000000  118.000000
               ID          Apps       Accept       Enroll   Top10perc  \
count  156.000000    156.000000   156.000000   156.000000  156.000000
mean   383.955128   2494.500000  1692.455128   717.320513   27.083333
std    211.579112   2497.855686  1550.866519   766.264403   17.479558
min      4.000000    174.000000   146.000000    63.000000    1.000000
25%    202.750000    800.750000   642.000000   277.500000   15.000000
50%    384.500000   1498.500000  1106.000000   413.500000   23.000000
75%    558.250000   3519.750000  2134.250000   808.000000   35.000000
max    774.000000  12394.000000  7640.000000  4615.000000   85.000000

        Top25perc   F.Undergrad   P.Undergrad      Outstate   Room.Board  \
count  156.000000    156.000000    156.000000    156.000000   156.000000
mean    55.275641   3444.596154    927.480769  10004.570513  4313.538462
std     19.427806   4127.794692   2142.453352   3991.035334  1090.887395
min      9.000000    316.000000      4.000000   2340.000000  1780.000000
25%     43.750000   1059.000000     77.250000   6791.000000  3527.500000
50%     53.000000   1679.000000    349.000000   9435.000000  4285.000000
75%     67.000000   3780.250000    998.250000  12859.500000  4897.750000
max    100.000000  27378.000000  21836.000000  19380.000000  7270.000000

             Books     Personal         PhD    Terminal   S.F.Ratio  \
count   156.000000   156.000000  156.000000  156.000000  156.000000
mean    571.019231  1333.737179   72.038462   79.237179   14.214744
std     191.648619   652.854122   16.780128   14.315844    3.757673
min     275.000000   300.000000    8.000000   35.000000    2.900000
25%     500.000000   835.500000   62.000000   69.000000   11.975000
50%     550.000000  1227.500000   75.000000   81.000000   13.500000
75%     600.000000  1660.000000   82.250000   91.250000   16.325000
max    2340.000000  3228.000000  100.000000  100.000000   23.600000

       perc.alumni        Expend   Grad.Rate
count   156.000000    156.000000  156.000000
mean     21.711538   9418.948718   64.044872
std      11.913132   4199.652587   17.020421
min       2.000000   3365.000000   15.000000
25%      11.000000   6695.750000   53.000000
50%      20.500000   8410.000000   64.000000
75%      30.000000  10663.500000   77.000000
max      57.000000  30639.000000  100.000000

In [5]:
##### STEP3. 데이터셋 전처리
###### STEP3-1. 불필요한 컬럼 삭제
# ID 컬럼은 학교에 대한 고유 정보로 key 역할로 모델에는 불필요함
# Name 컬럼도 학교명에 대한 고유 정보로 key 역할로 모델에는 불필요함
# 결과 제출 시에는 X_test의 ID 컬럼이 필요하기 때문에 별도 저장
ID = X_test['ID'].copy()

# 데이터들에서 ID 컬럼 삭제
X_train = X_train.drop(columns = ['ID', 'Name'])
X_test = X_test.drop(columns = ['ID', 'Name'])
y_train = y_train.drop(columns = 'ID')

In [6]:
##### STEP3-2. 결측치 처리
# 결측치 확인
X_train.isna().sum()
X_test.isna().sum()

Apps           0
Accept         0
Enroll         0
Top10perc      0
Top25perc      0
F.Undergrad    0
P.Undergrad    0
Outstate       0
Room.Board     0
Books          0
Personal       0
PhD            0
Terminal       0
S.F.Ratio      0
perc.alumni    0
Expend         0
Grad.Rate      0
dtype: int64

In [7]:
###### STEP3-4. 수치형 컬럼 전처리
# Top10perc, Top25perc, PhD, Terminal, S.F.Ratio, Grad.Rate, perc.alumni
# 위 7개 컬럼은 비율에 관한 컬럼으로 단위는 백분율임
# 이를 소수점으로 변환
col_per = ['Top10perc', 'Top25perc', 'PhD', 'Terminal', 'S.F.Ratio', 'Grad.Rate', 'perc.alumni']
X_train[col_per] = X_train[col_per]/100
X_test[col_per] = X_test[col_per]/100

In [8]:
####### 수치형 컬럼 간 상관관계 확인
X_train.corr()
col_del = ['Apps', 'Accept', 'F.Undergrad','Top25perc', 'Terminal']
X_train = X_train.drop(col_del, axis = 1)
X_test = X_test.drop(col_del, axis = 1)

In [9]:
###### STEP3-5. 데이터 분할
from sklearn.model_selection import train_test_split

# X_train과 y_train을 학습용(X_TRAIN, y_TRAIN)과 검증용(X_VAL, y_VAL)로 분할
X_TRAIN, X_VAL, y_TRAIN, y_VAL = train_test_split(X_train, y_train, random_state = 1234, test_size = 0.1, stratify = y_train)

# 분할 후 shape 확인
print(X_TRAIN.shape)
print(X_VAL.shape)
print(y_TRAIN.shape)
print(y_VAL.shape)

(558, 12)
(63, 12)
(558, 1)
(63, 1)

In [10]:
###### STEP3-7. 스케일링
from sklearn.preprocessing import StandardScaler

# TRAIN 데이터 기준으로 스케일링함
scale = StandardScaler().fit(X_TRAIN)

# z-점수 표준화
X_TRAIN_STD = scale.transform(X_TRAIN)
X_VAL_STD = scale.transform(X_VAL)
X_TEST_STD = scale.transform(X_test)

In [11]:
###### STEP3-8. 입력 데이터셋 준비
X_TRAIN = X_TRAIN_STD
X_VAL = X_VAL_STD
y_TRAIN = y_TRAIN.values.ravel()
y_VAL = y_VAL.values.ravel()

In [12]:
##### STEP4. 모델 학습
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, BaggingClassifier, AdaBoostClassifier

###### STEP4-1. random forest
rf = RandomForestClassifier(n_estimators = 500, max_depth = 3, min_samples_leaf = 10, max_features = 'sqrt', random_state = 2022)
model_rf = rf.fit(X_TRAIN, y_TRAIN)

In [13]:
###### STEP4-2. Bagging
dtr = DecisionTreeClassifier(max_depth = 3, min_samples_leaf = 10)
bag = BaggingClassifier(base_estimator = dtr, n_estimators = 500, random_state = 2022)
model_bag = bag.fit(X_TRAIN, y_TRAIN)

In [14]:
###### STEP4-3. AdaBoost
dtr = DecisionTreeClassifier(max_depth = 3, min_samples_leaf = 10)
ada = AdaBoostClassifier(base_estimator = dtr, n_estimators = 500, learning_rate = 0.5, random_state = 2022)
model_ada = ada.fit(X_TRAIN, y_TRAIN)

In [15]:
###### STEP4-4. 성능평가(기준:AUC)를 통한 모델 선정
from sklearn.metrics import roc_curve, auc

# 검증용 데이터셋을 통한 예측
score_rf = model_rf.predict_proba(X_VAL)[:,1]
score_bag = model_bag.predict_proba(X_VAL)[:,1]
score_ada = model_ada.predict_proba(X_VAL)[:,1]

# AUC 계산
fpr, tpr, thresholds = roc_curve(y_VAL, score_rf, pos_label = 'Yes')
auc_rf = auc(fpr, tpr)
print(auc_rf)

fpr, tpr, thresholds = roc_curve(y_VAL, score_bag, pos_label = 'Yes')
auc_bag = auc(fpr, tpr)
print(auc_bag)

fpr, tpr, thresholds = roc_curve(y_VAL, score_ada, pos_label = 'Yes')
auc_ada = auc(fpr, tpr)
print(auc_ada)

0.9641943734015346
0.938618925831202
0.9872122762148338

In [16]:
##### STEP5. 결과 제출하기
###### 실제 시험에서 답 제출시에는 성능이 가장 우수한 모형 하나만 구현!
X_TEST = X_TEST_STD
y_score = model_ada.predict_proba(X_TEST)[:,1]

# 문제에서 요구하는 형태로 변환 필요
obj = {'ID' : ID, 'prob_Private' : y_score}
result = pd.DataFrame(obj)

# 하위에 12345.csv 이름으로 저장하기
result.to_csv("12345.csv", index = False)

In [18]:
##### STEP6. 채점 모델 평가(번외)
# 실제값
actual = pd.read_csv('data/연습문제/College_y_test.csv', encoding = 'cp949')
actual = actual['Private'].ravel()

# 채점 기준이 될 성과지표 값
fpr, tpr, thresholds = roc_curve(actual, y_score, pos_label = 'Yes')
auc(fpr, tpr)
print(auc_rf)

0.9641943734015346

---

#### 3. 아래는 호주의 기상 관측소들의 일자별 기상 정보와 강수 여부에 관련한 데이터의 일부이다. 주어진 데이터를 이용하여 예측 모형을 만들고 아래에 따라 CSV 파일을 생성하시오.

In [3]:
#### 연습문제3 Solution
##### STEP1. 데이터셋 불러오기
import pandas as pd
X_train = pd.read_csv('data/연습문제/weatherAUS_X_train.csv')
X_test = pd.read_csv('data/연습문제/weatherAUS_X_test.csv')
y_train = pd.read_csv('data/연습문제/weatherAUS_y_train.csv')

In [4]:
##### STEP2. 데이터셋 확인하기
###### STEP2-1. 데이터셋 일부 확인
print(X_train.head())
print(X_test.head())
print(y_train.head())

         Date Location  MinTemp  MaxTemp  Rainfall WindGustDir  WindGustSpeed  \
0  2016-01-01   Albury     20.4     37.6       0.0         ENE           54.0
1  2016-01-02   Albury     20.9     33.6       0.4         SSE           50.0
2  2016-01-03   Albury     18.4     23.1       2.2         ENE           48.0
3  2016-01-04   Albury     17.3     23.7      15.6         SSE           39.0
4  2016-01-05   Albury     15.5     22.9       6.8         ENE           31.0

  WindDir9am WindDir3pm  WindSpeed9am  WindSpeed3pm  Humidity9am  Humidity3pm  \
0        NaN        ESE           0.0           7.0         46.0         17.0
1        SSE         SE           9.0          17.0         54.0         30.0
2        ESE        ENE          11.0          39.0         62.0         67.0
3         SE        SSE           9.0          17.0         74.0         65.0
4         SE        SSE           6.0           9.0         92.0         63.0

   Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm RainToday
0       1013.4       1009.2       7.0       3.0     26.1     36.7        No
1       1011.1       1008.4       8.0       8.0     24.8     31.7        No
2       1014.0       1014.8       8.0       8.0     21.8     19.5       Yes
3       1017.9       1016.5       8.0       8.0     19.2     21.6       Yes
4       1016.3       1013.9       8.0       8.0     17.2     22.2       Yes
         Date Location  MinTemp  MaxTemp  Rainfall WindGustDir  WindGustSpeed  \
0  2016-09-01   Albury      8.5     16.7       0.4         NNE           17.0
1  2016-09-02   Albury      6.1     13.9       0.2         SSE           37.0
2  2016-09-03   Albury      9.6     16.6      33.6         WNW           48.0
3  2016-09-04   Albury      7.7     15.1       0.6          NW           26.0
4  2016-09-05   Albury      4.4     15.9       0.0           W           24.0

  WindDir9am WindDir3pm  WindSpeed9am  WindSpeed3pm  Humidity9am  Humidity3pm  \
0        NaN         NW           0.0          11.0         96.0         65.0
1          S          E           6.0           7.0         87.0         76.0
2          W          W          15.0          31.0         90.0         60.0
3        WSW        WNW          20.0          13.0         82.0         66.0
4        ESE        WSW           4.0          13.0         93.0         63.0

   Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm RainToday
0       1020.0       1016.1       8.0       7.0     12.3     15.8        No
1       1012.1       1005.6       NaN       8.0     10.1     13.5        No
2       1003.4       1008.8       6.0       1.0     11.4     15.1       Yes
3       1023.7       1025.4       8.0       7.0     10.8     14.0        No
4       1031.3       1029.1       8.0       7.0     10.4     14.7        No
         Date RainTomorrow
0  2016-01-01           No
1  2016-01-02          Yes
2  2016-01-03          Yes
3  2016-01-04          Yes
4  2016-01-05           No

In [5]:
###### STEP2-2. 데이터셋 요약 정보 확인
print(X_train.info())
print(X_test.info())
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11714 entries, 0 to 11713
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           11714 non-null  object
 1   Location       11714 non-null  object
 2   MinTemp        11658 non-null  float64
 3   MaxTemp        11662 non-null  float64
 4   Rainfall       11630 non-null  float64
 5   WindGustDir    11073 non-null  object
 6   WindGustSpeed  11073 non-null  float64
 7   WindDir9am     10873 non-null  object
 8   WindDir3pm     11127 non-null  object
 9   WindSpeed9am   11633 non-null  float64
 10  WindSpeed3pm   11178 non-null  float64
 11  Humidity9am    11650 non-null  float64
 12  Humidity3pm    10970 non-null  float64
 13  Pressure9am    10503 non-null  float64
 14  Pressure3pm    10499 non-null  float64
 15  Cloud9am       6937 non-null   float64
 16  Cloud3pm       6115 non-null   float64
 17  Temp9am        11674 non-null  float64
 18  Temp3pm        10987 non-null  float64
 19  RainToday      11630 non-null  object
dtypes: float64(14), object(6)
memory usage: 1.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5794 entries, 0 to 5793
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           5794 non-null   object
 1   Location       5794 non-null   object
 2   MinTemp        5774 non-null   float64
 3   MaxTemp        5782 non-null   float64
 4   Rainfall       5711 non-null   float64
 5   WindGustDir    5447 non-null   object
 6   WindGustSpeed  5447 non-null   float64
 7   WindDir9am     5645 non-null   object
 8   WindDir3pm     5534 non-null   object
 9   WindSpeed9am   5773 non-null   float64
 10  WindSpeed3pm   5546 non-null   float64
 11  Humidity9am    5678 non-null   float64
 12  Humidity3pm    5345 non-null   float64
 13  Pressure9am    5189 non-null   float64
 14  Pressure3pm    5188 non-null   float64
 15  Cloud9am       3228 non-null   float64
 16  Cloud3pm       2719 non-null   float64
 17  Temp9am        5777 non-null   float64
 18  Temp3pm        5439 non-null   float64
 19  RainToday      5711 non-null   object
dtypes: float64(14), object(6)
memory usage: 905.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11714 entries, 0 to 11713
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          11714 non-null  object
 1   RainTomorrow  11714 non-null  object
dtypes: object(2)
memory usage: 183.2+ KB
None

In [6]:
###### STEP2-3. 기초통계량 확인
print(X_train.describe())
print(X_test.describe())
print(y_train.describe())

            MinTemp       MaxTemp      Rainfall  WindGustSpeed  WindSpeed9am  \
count  11658.000000  11662.000000  11630.000000   11073.000000  11633.000000
mean      12.530057     23.049974      2.546174      38.853698     13.453537
std        6.551759      7.531580      9.042366      13.732184      8.696536
min       -7.800000     -4.800000      0.000000       7.000000      0.000000
25%        7.800000     17.200000      0.000000      30.000000      7.000000
50%       12.400000     22.600000      0.000000      37.000000     13.000000
75%       17.400000     28.400000      1.000000      46.000000     19.000000
max       29.200000     45.100000    225.000000     120.000000     74.000000

       WindSpeed3pm   Humidity9am   Humidity3pm   Pressure9am   Pressure3pm  \
count  11178.000000  11650.000000  10970.000000  10503.000000  10499.000000
mean      17.971014     72.096996     53.495351   1017.787594   1015.341823
std        8.468756     18.115875     20.736367      6.923373      6.831690
min        0.000000     10.000000      4.000000    982.200000    977.100000
25%       11.000000     61.000000     39.000000   1013.500000   1010.900000
50%       17.000000     74.000000     54.000000   1018.000000   1015.600000
75%       22.000000     86.000000     67.750000   1022.100000   1019.800000
max       63.000000    100.000000    100.000000   1040.300000   1036.400000

          Cloud9am     Cloud3pm       Temp9am       Temp3pm
count  6937.000000  6115.000000  11674.000000  10987.000000
mean      4.931527     5.018152     16.803135     21.444644
std       2.890257     2.711604      6.762189      7.324353
min       0.000000     0.000000     -7.200000     -5.400000
25%       2.000000     2.000000     11.600000     15.900000
50%       6.000000     6.000000     16.500000     21.000000
75%       8.000000     7.000000     21.700000     26.600000
max       8.000000     8.000000     36.500000     43.500000
           MinTemp      MaxTemp     Rainfall  WindGustSpeed  WindSpeed9am  \
count  5774.000000  5782.000000  5711.000000    5447.000000   5773.000000
mean     12.397194    23.971688     2.021100      42.980540     15.543218
std       6.057115     6.990447     5.992186      13.479326      8.732675
min      -4.800000     1.100000     0.000000      13.000000      0.000000
25%       7.900000    18.600000     0.000000      33.000000      9.000000
50%      11.700000    23.200000     0.000000      41.000000     15.000000
75%      16.500000    29.100000     0.800000      50.000000     20.000000
max      28.900000    42.900000    85.000000     113.000000     65.000000

       WindSpeed3pm  Humidity9am  Humidity3pm  Pressure9am  Pressure3pm  \
count   5546.000000  5678.000000  5345.000000  5189.000000  5188.000000
mean      20.344933    63.949454    49.681572  1014.564232  1012.157132
std        8.764972    18.315154    20.524905     6.688959     6.537446
min        0.000000     4.000000     3.000000   982.000000   981.900000
25%       13.500000    53.000000    35.000000  1011.000000  1008.100000
50%       19.000000    65.000000    50.000000  1014.600000  1012.000000
75%       26.000000    76.000000    63.000000  1019.000000  1016.600000
max       65.000000   100.000000   100.000000  1033.000000  1030.300000

          Cloud9am     Cloud3pm      Temp9am      Temp3pm
count  3228.000000  2719.000000  5777.000000  5439.000000
mean      4.965923     4.967635    17.954613    21.976429
std       2.875166     2.789602     6.205495     6.713617
min       0.000000     0.000000    -3.600000     0.600000
25%       2.000000     2.000000    13.200000    16.900000
50%       6.000000     6.000000    17.300000    21.400000
75%       8.000000     8.000000    22.100000    26.700000
max       8.000000     8.000000    36.200000    42.000000
              Date RainTomorrow
count        11714        11714
unique         244            2
top     2016-05-02           No
freq            49         8882

In [7]:
##### STEP3. 데이터셋 전처리
###### STEP3-1. 불필요한 컬럼 삭제
# Date 컬럼은 관측일자로 key 역할로 모델에는 불필요함
# 결과 제출 시에는 X_test의 Date 컬럼이 필요하기 때문에 별도 저장
Date = X_test['Date'].copy()

# 데이터들에서 Date 컬럼 삭제
X_train = X_train.drop(columns = 'Date')
X_test = X_test.drop(columns = 'Date')
y_train = y_train.drop(columns = 'Date')

In [8]:
###### STEP3-2. 결측치 처리
# 결측치 확인
X_train.isna().sum()
X_test.isna().sum()

####### train에서 500개가 넘는 결측치가 있는 컬럼은 삭제
# 결측치가 500개가 넘는 조건
cond_na500 = (X_train.isna().sum() >= 500)

# 500개가 넘는 컬럼명
col_na500 = X_train.columns[cond_na500]

# 컬럼 삭제
X_train = X_train.drop(col_na500, axis = 1)
X_test = X_test.drop(col_na500, axis = 1)

###### train에서 100개 미만의 결측치가 있는 컬럼은 결측치 대체
# 결측치가 100개 미만인 조건
X_train.isna().sum() < 100

Location        True
MinTemp         True
MaxTemp         True
Rainfall        True
WindSpeed9am    True
Humidity9am     True
Temp9am         True
RainToday       True
dtype: bool

In [9]:
######## 수치형인 MinTemp, MaxTemp, Rainfall, WindSpeed9am, Humidity9am, Temp9am은 평균 대체
# 수치형만 있는 데이터프레임 추출
X_train_conti = X_train.select_dtypes(exclude = 'object').copy()
X_test_conti = X_test.select_dtypes(exclude = 'object').copy()

# 평균대치
X_train_conti = X_train_conti.fillna(X_train_conti.mean())
X_test_conti = X_test_conti.fillna(X_train_conti.mean())

######## 카테고리형인 RainToday는 최다빈도를 가지는 라벨로 대체
# 카테고리형만 있는 데이터프레임 추출
X_train_category = X_train.select_dtypes('object').copy()
X_test_category = X_test.select_dtypes('object').copy()

# 최다라벨로 대치
mode = X_train_category.value_counts('RainToday').idxmax()
X_train_category = X_train_category.fillna(mode)
X_test_category = X_test_category.fillna(mode)

######## 두 데이터 프레임 다시 합치기
X_train = pd.concat([X_train_conti, X_train_category], axis = 1)
X_test = pd.concat([X_test_conti, X_test_category], axis = 1)

In [10]:
from sklearn.model_selection import train_test_split

# X_train과 y_train을 학습용(X_TRAIN, y_TRAIN)과 검증용(X_VAL, y_VAL)로 분할
X_TRAIN, X_VAL, y_TRAIN, y_VAL = train_test_split(X_train, y_train, random_state = 1234, test_size = 0.3)

# 분할 후 shape 확인
print(X_TRAIN.shape)
print(X_VAL.shape)
print(y_TRAIN.shape)
print(y_VAL.shape)

(8199, 8)
(3515, 8)
(8199, 1)
(3515, 1)

In [11]:
###### STEP3-6. 인코딩
# 카테고리형 컬럼에 대하여 원-핫 인코딩 수행
from sklearn.preprocessing import OneHotEncoder

# 인코딩할 카테고리형 컬럼만 별도 저장
X_TRAIN_category = X_TRAIN.select_dtypes('object').copy()
X_VAL_category = X_VAL.select_dtypes('object').copy()
X_TEST_category = X_test.select_dtypes('object').copy()

# 원-핫 인코딩
enc = OneHotEncoder(sparse = False).fit(X_TRAIN_category)
X_TRAIN_OH = enc.transform(X_TRAIN_category)
X_VAL_OH = enc.transform(X_VAL_category)
X_TEST_OH = enc.transform(X_TEST_category)

In [12]:
###### STEP3-7. 스케일링
from sklearn.preprocessing import StandardScaler

# 스케일링할 컬럼만 별도 저장
# .select_dtypes() 메소드의 exclude 옵션은 해당 dtype을 제외한 모든 dtype을 추출할 때 사용
X_TRAIN_conti = X_TRAIN.select_dtypes(exclude = 'object').copy()
X_VAL_conti = X_VAL.select_dtypes(exclude = 'object').copy()
X_TEST_conti = X_test.select_dtypes(exclude = 'object').copy()

# TRAIN 데이터 기준으로 스케일링함
scale = StandardScaler().fit(X_TRAIN_conti)

# z-점수 표준화
X_TRAIN_STD = scale.transform(X_TRAIN_conti)
X_VAL_STD = scale.transform(X_VAL_conti)
X_TEST_STD = scale.transform(X_TEST_conti)

In [13]:
###### STEP3-8. 입력 데이터셋 준비
import numpy as np

# 인코딩과 스케일링된 넘파이 배열 연결
X_TRAIN = np.concatenate([X_TRAIN_OH, X_TRAIN_STD], axis = 1)
X_VAL = np.concatenate([X_VAL_OH, X_VAL_STD], axis = 1)

# 'Yes'와 'No'를 각각 1,0에 매핑
y_TRAIN = y_TRAIN['RainTomorrow'].map({'No':0, 'Yes':1})
y_VAL = y_VAL['RainTomorrow'].map({'No':0, 'Yes':1})

# 1차원 넘파이 배열로 평탄화
y_TRAIN = y_TRAIN.values.ravel()
y_VAL = y_VAL.values.ravel()

In [14]:
##### STEP4. 모델 학습
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

###### STEP4-1. random forest
rf = RandomForestClassifier(n_estimators = 500, max_depth = 3, min_samples_leaf = 10, max_features = 'sqrt', random_state = 2022)
model_rf = rf.fit(X_TRAIN, y_TRAIN)

In [15]:
###### STEP4-2. XGBoost
xgb = XGBClassifier(max_depth = 8, n_estimators = 500, nthread = 5, min_child_weight = 20, gamma = 0.5, objective = 'binary:logistic', use_label_encoder = False, random_state = 2022)
model_xgb = xgb.fit(X_TRAIN, y_TRAIN, eval_metric = 'mlogloss')

In [16]:
###### STEP4-3. LightGBM
lgb = LGBMClassifier(max_depth = 8, n_estimators = 500, n_jobs = 30, min_child_weight = 10, learning_rate = 0.2, objective = 'binary', random_state = 2022)
model_lgb = lgb.fit(X_TRAIN, y_TRAIN)

In [17]:
###### STEP4-4. 성능평가(기준:AUC)를 통한 모델 선정
from sklearn.metrics import roc_curve, auc

# 검증용 데이터셋을 통한 예측
score_rf = model_rf.predict_proba(X_VAL)[:,1]
score_xgb = model_xgb.predict_proba(X_VAL)[:,1]
score_lgb = model_lgb.predict_proba(X_VAL)[:,1]

fpr, tpr, thresholds = roc_curve(y_VAL, score_xgb)
auc_xgb = auc(fpr, tpr)
print(auc_xgb)

fpr, tpr, thresholds = roc_curve(y_VAL, score_lgb)
auc_lgb = auc(fpr, tpr)
print(auc_lgb)

0.7448954359191748
0.7596543334673899

In [18]:
##### STEP5. 결과 제출하기
###### 실제 시험에서 답 제출시에는 성능이 가장 우수한 모형 하나만 구현!
X_TEST = np.concatenate([X_TEST_OH, X_TEST_STD], axis = 1)
y_score = model_lgb.predict_proba(X_TEST)[:,1]

# 문제에서 요구하는 형태로 변환 필요
obj = {'Date' : Date, 'RainTomorrow_prob' : y_score}
result = pd.DataFrame(obj)

# 하위에 12345.csv 이름으로 저장하기
result.to_csv("12345.csv", index = False)

In [19]:
##### STEP6. 채점 모델 평가(번외)
# 실제값
actual = pd.read_csv('data/연습문제/weatherAUS_y_test.csv', encoding = 'cp949')
actual = actual['RainTomorrow'].ravel()

# 채점 기준이 될 성과지표 값
fpr, tpr, thresholds = roc_curve(actual, y_score, pos_label = 'Yes')
auc(fpr, tpr)

0.7066865384099572

# (끝)